{% extends "layout.html.twig" %}

{% block head %}
    <title>Nouvelle Partie - Memory</title>
{% endblock %}

{% block content %}

    <div id="newgame_form_content" class="d-flex flex-column justify-content-center align-items-center mt-2">
        <form id="newgame-form" class="col-lg-6" action="{{ url('app_game') }}"  method="post">
            <legend>Nouvelle Partie</legend>
            <div class="form-group">
                <label for="newgame_playernumb" class="form_label">Nombre de joueurs</label>
                <select id="newgame_playernumb" name="players" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            <div id="player1" class="form-group mt-3">
                <label for="newgame_username1" class="form_label">Joueur 1</label>
                <input id="newgame_username1" type="text" name="username1" class="form-control" required>
            </div>
            <div id="player2" class="d-none form-group mt-3">
                <label for="ewgame_username1" class="form_label">Joueur 2</label>
                <input id="newgame_username1" type="text" name="username2" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="newgame_size" class="form_label">Difficulté</label>
                <select id="newgame_size" name="size" class="form-control">
                    <option value="6">Facile</option>
                    <option value="12">Moyen</option>
                    <option value="18">Difficile</option>
                </select>
            </div>
            <div class="form-group">
                <label for="newgame_theme" class="form_label">Thème</label>
                <select id="newgame_theme" name="theme" class="form-control">
                    <option value="animals">Animaux</option>
                    <option value="monsters">Monstres</option>
                    <option value="music">Instruments de musique</option>
                </select>
            </div>
            <button id="newgame_submit" type="submit" class="btn btn-primary mt-3"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Jouer</button>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('js/NewgamePlayerdisplay.js') }}"></script>
{% endblock %}